@import url("../fonts/Roboto/font.css");

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: #363636;
  	text-align: left;
    margin: 0;
    text-rendering: optimizeLegibility;
    background-color: #fbfbfb;
    overflow-x:hidden;
}

/* >>> im simple Grid padding auskommentiert! <<< */

.row [class^="col"] {
/*  padding: 0; */
}


.en, .de, .pt {display: none}

header, footer {position: fixed; width: 100%; z-index: 10;}
header {top: 0; }
content { width:100vw; position: unset; padding-bottom: 1rem; overflow-y: visible; overflow-x: hidden;}
content .page {padding-top: 10rem;}
.row > div {overflow-x: hidden;}
footer {bottom: 0;  }
.page {display: block; max-width: 120em; margin: 0 auto;}

.logo>a, .logo>a:visited, .logo>a:active {
  text-decoration: none;
  color: #000;
}

h1 {
    font-size: 3rem;
    font-weight: 300;
    margin: 1%;
    text-rendering: optimizeLegibility;
}

h2 {
    font-size: 2.25rem;
    font-weight: 500;
    margin: 1%;
    text-rendering: optimizeLegibility;
}

h3 {
    font-size: 2.25rem;
    font-weight: 100;
    margin: 1%;
    text-rendering: optimizeLegibility;
}

h4 {
    font-size: 1.375rem;
    font-weight: 300;
    margin: 1%;
    text-rendering: optimizeLegibility;
}

h5 {
    font-size: 1.1 rem;
    font-weight: 300;
    margin: 1%;
    text-rendering: optimizeLegibility;
}

@media only screen and (min-width: 45em) and (max-width: 64em) {  /* 720px */
  h1 { font-size: 2.25rem}
  h2,h3 {font-size: 1.875rem}
  h4,h5 {font-size: 1.1rem}
}
p {
    font-size: 1rem;
    font-weight: 100;
    margin: 1% 1% 2% 1%;
    text-rendering: optimizeLegibility;
}

p > a {
    text-decoration: underline #363636;
    color: #363636;
    background-color: #d8dAd8;
}

.main-menu a {color: #363636;}

#close-button {
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 2rem;
  }

  /* Logo und 1. Menue */

.row > .header-color {
    background: linear-gradient(to left, #d47827, #85b33d, #b62981);
    max-height: 0.1rem;
    padding-top: 0.5em;
    margin: 0 auto 0.5em auto;
    width: 95%;
    float: none;
  }

.logo {
    margin-bottom: 2em;
}
.logo-text {
    margin-bottom: 0.2em;
}

#menu {
  font-size: 12px;
  font-weight: 300;
  background-color: #f0f0f0;
  text-rendering: optimizeLegibility;
}

.logo img {
  height: 2.8rem;
  padding: 0.3em 1.3em 0.5em 2em;
  float: left;
}

.logo-name {
  font-size: 2.4rem;
  font-weight: 500;
  padding: 0 0.75em 0 0;
  float: left;
}


.logo-text {
  font-size: 0.7rem;
  line-height: 1rem;
  padding: 1.15em 0 0 0;
  float: left;
}

#language .navbar-lang {
  margin-top: 0.5em;
  margin-right: 0.5em;
}

#language div {
  font-size: 0.8rem;
  line-height: 1rem;
  float: right;
  margin-left: 0.5rem;
}

  #privacy {
    padding: 1.15em 2em 0 0;
  }

  #impress {
    padding: 1.15em 0 0 4em;
  }

  #language .navbar-lang {
    padding: 0.15em 0 0 0;
  }

.navbar-lang div {
  padding: 0.6em 1.3em;
}

.navbar-lang .nav-item {
  border-top: 0.25rem solid #f0f0f0;
}

.navbar-lang .active {
  background-color: #d8dAd8;
  border-top: 0.25rem solid #b62981;
}

  /* 2. Menue:  */

#main-menu {font-size: 1em; font-weight: 100; text-rendering: optimizeLegibility;  }
#main-menu > ul {float: right; padding-right: 0; }

.main-menu { margin: 0;}

.main-menu-nav {
  margin: 0;
  background-color: #fbfbfb;
  border-bottom: 0.1em solid #d8dAd8;
}

nav ul { list-style: none;}
nav li { margin: 0; display: inline-block;}
nav a { text-decoration: none; }

.main-menu .nav-item {
  padding: 0.5em 0.8em;
  border-top: 0.25rem solid #fbfbfb;
}

.nav-item:focus, .nav-item:hover, .nav-item:active { border-top: 0.25rem solid #d47827; }

.main-menu .active {
  padding: 0.5em 0.8em;
  background-color: #d8dAd8;
  border-top: 0.25rem solid #b62981;
}

#burger-menu {
  display: flex; 
  align-items: center;  
  position: fixed;
  top: 2rem;
  right: 1rem;
  width: 2.25rem;
  height: 2.25rem;
  cursor: pointer;
  z-index: 1;
}

#burger-menu > span,
#burger-menu > span::before,
#burger-menu > span::after {
  display: block;
  position: absolute;
  width: 2.25rem;
  height: 2px;
  background-color: #616161;
  transition: 0.3s;
}
#burger-menu > span::before {
  content: '';
  top: -0.5rem;
}
#burger-menu > span::after {
  content: '';
  top: 0.5rem;
}

#navbar-toggler:checked ~ #burger-menu > span {
  transform: rotate(45deg);
}

#navbar-toggler:checked ~ #burger-menu > span::before {
  top: 0; transform: rotate(0);
}

#navbar-toggler:checked ~ #burger-menu > span::after {
  top: 0; transform: rotate(90deg);
}

#main-menu {
  display:block;
}
#nav-toggler, #burger-menu {
  display:none;
}


@media only screen and (max-width: 45em) {  /* mobile */
  #nav-toggler, #burger-menu {
    display:block;
  }
  
  #navbar-toggler~#main-menu {
    display:none;
  }
  #navbar-toggler:checked~#main-menu {
    display:block;
  }
  
  #main-menu {transition: transform 1s ease-in-out;}
  
}

/*Content*/

.title h1 div:nth-child(1) {
  font-family: 'OpenSans', sans-serif;
  font-size: 2.5vw;
  font-weight: 200;
  margin: 1em 0 0.8em 0;
  text-align: center;
  color: #fbfbfb;
}

.title h1 div:nth-child(1) .de{
  font-size: 0.9em;
}

.title h1 div:nth-child(3) {
  font-family: 'LucidaConsole', sans-serif;
  font-size: 3.3vw;
  font-weight: 400;
  text-align: center;
  color: #fbfbfb;
  margin: 0.8em 0.5em 1em 0.5em;
}

@media only screen and (max-width: 45em) {  /* mobile */
  .title h1 div:nth-child(1) {
    font-size: 3.8vw;
  }
  
  .title h1 div:nth-child(3) {
    font-size: 4.4vw;
  }

}
.title-line {
  margin: 0.5% 30%;
  padding-top: 0.1em;
  background-color: #fbfbfb;
}

.title, .title.nr1 {
  background-image: url(../../images/1_title-HG_Slider-dinobbio_2023.png);
  background-repeat: no-repeat;
  background-size: cover;
}


.title.nr2 {
  background-image: url(../../images/1_title-HG_Slider-dinobbio_2023.png), url(../../images/2_Chemie_Slider-nur-Grafik-dinobbio_2023.png);
  background-blend-mode: overlay;
  background-size: cover, contain;
}

.title.nr3 {
  background-image: url(../../images/1_title-HG_Slider-dinobbio_2023.png), url(../../images/3_Code_Slider-nur_grafik-dinobbio_2023.png);
  background-blend-mode: overlay;
  background-size: cover, contain;
}


@media only screen and (min-width: 120em) {  /* ab 120em */
  .title h1 div:nth-child(1) {
    font-size: 3rem;
  }

  .title h1 div:nth-child(3) {
    font-size: 3rem;
    }

  .title-line {
    margin: 0.5% 30%;
    padding-top: 0.1em;
  }
}



.content-left, .content-center { margin-top: 0.2rem;}

.content-line {
  background: #85b33d;
  height: 0.25rem;
  width: 35%;
  margin-left:1.8rem;
  margin-top: 1rem;
  float: none;
}
.content-left h2 {
  margin-right: 1.8rem;
  padding-top: 0.2rem;
  margin-top: 0;
}

.page-title {
  margin-left: 1.8rem;
}

.page-title~p {
  margin-left: 1.8rem;
}

.page-title span {
  hyphens: auto;
}

.content-center .row > div:first-child {
  padding-right: 1.8rem;
}

.content-center .row > div:nth-child(2) {
  padding-left: 1.8rem;
}

.content-center .row > div:first-child.float-right {
  padding-left: 1.8rem;
}

.content-center .row > div:nth-child(2).float-right {
  padding-right: 1.8rem;
}

@media only screen and (max-width: 45em) {  /* mobile */
  .content-center .row > div {padding-left: 1.8rem;  padding-right: 1.8rem;}

}
.float-right {float: right!important}

.content-center img {
  max-width: 100%;
}

.content-center iframe {
  max-width: 100%;
  border: 1px solid #85b33d;
}


 /* Partner */

 .row > .partners-color {
     background: linear-gradient(to right, #d47827, #85b33d, #b62981);
     margin: 1em auto 0 auto;
     padding-top: 0.5rem;
     width: 95%;
     float: none;
   }

.partners-logo {
  padding: 1rem 2.2rem;
  background-color: #d8dAd8;
}

.logo-htwk img, .logo-unesp img, .logo-usp img {
  float: left;
}

img.logo {
  width:20%;
  padding:1em;
}

.logo-htwk img { width: 20%; margin: 5% 1% 5% 10%;}

.logo-unesp img { width: 25%; margin: 5% 1% 5% 10%;}

.logo-usp img { width: 15%; margin: 5% 1% 5% 10%;}

.logo-htwk p, .logo-unesp p, .logo-usp p {
  float: right;
  font-size: 0.8rem;
  margin-top: 5%;
  margin-bottom: 5%;
}

.logo-htwk p { width: 60%;}

.logo-unesp p { width: 55%;}

.logo-usp p { width: 65%;}

/* footer-funding */

.footer-funding {
  font-size: 0.8rem;
  text-align: center;
  padding: 0.5rem 0;
  background-color: #4078d9;
}


/* row */


[class^="col-"] , [class*=" col-"] {
/*    border: 1px solid red; */
    box-sizing: border-box;
    display: center;
}
